<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="com.automation.framework.listeners.TestListener"/>
        <listener class-name="com.automation.framework.listeners.RetryAnalyzer"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="com.automation.framework.tests.ui.LoginTests"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="com.automation.framework.tests.api.APITests"/>
        </classes>
    </test>

    <test name="Mobile Tests">
        <classes>
            <class name="com.automation.framework.tests.mobile.AppTests"/>
        </classes>
    </test>
</suite>
